{% extends 'base.html' %}

{% block title %} Расписание {% endblock %}

{% block content %}

    {% if audiences_list %}

<div class="container">

    {% for a in audiences_list %}
    <h2>Аудитория №{{a}} :</h2>
        {% for l in lectures_list %}
                {% if a == l.audience_number %}
                <h5>{{l.lecture_title}}, Спикер: {{l.speaker_name}}, Время проведения: {{l.start_time}} - {{l.end_time}}</h5>
                <div class="dropdown">
                    <button class="btn btn-info btn-sm dropdown-toggle" type="button" id="dropdownMenuButton"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Показать описание</button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        {% if l.description %}
                        <a class="dropdown-item" href="#">{{ l.description }}</a>
                        {% else %}
                        <a class="dropdown-item" href="#">Описание отсутствует</a>
                        {% endif %}
                    </div>
                </div>

                {% endif %}
        {% endfor %}
    {% endfor %}
{% if not user.is_authenticated or user.is_superuser %}
    <form method="POST">
        <div class="row">
            <div class="col-4">
                {% csrf_token %}
                <input class="form-control" type="number", placeholder="Номер аудитории" name="audience"><br>
                <input class="form-control" type="text" required placeholder="Название лекции" name="lecture_title"><br>
                <input class="form-control" type="text", placeholder="Имя спикера", name="speaker_name"><br>
                <div class="form-group">
                    <textarea class="form-control" placeholder="Описание" name="description" id="exampleFormControlTextarea1" rows="3"></textarea>
                </div>
                <input class="form-control" type="datetime-local", placeholder="Время начала лекции", name="start_time"><br>
                <input class="form-control" type="datetime-local", placeholder="Время окончания лекции", name="end_time"><br>
                <button class="btn btn-outline-primary", type="submit">Добавить лекцию</button><br>
            </div>
        </div>
    </form>
    {% endif %}
</div>
{% else %}
    <h5>Аудитории не найдены</h5>
{% endif %}


{% endblock %}